body {
  margin: 0;
  padding: 0;
  font-family: "Archivo", sans-serif;
  font-size: 62.5%; }

.header {
  height: 20vh;
  background-color: #033845; }
  .header__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .header__logo-image {
    width: 177px;
    margin-top: 40px;
    margin-left: 40px; }
  .header__top-right {
    margin-top: 40px;
    margin-right: 40px; }
  .header__phone-number {
    color: #f7db5f;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.89rem;
    cursor: pointer; }
    .header__phone-number:hover {
      border-bottom: 1px solid #f7db5f; }
  .header__button {
    margin-left: 25px; }

.nav__list {
  display: flex;
  flex-direction: row; }

.nav__item {
  list-style-type: none;
  color: white;
  font-size: 15px;
  font-weight: 700;
  line-height: 20.25px;
  overflow-wrap: break-word;
  padding: 10px 17px;
  cursor: pointer;
  transition: all 0.2s; }
  .nav__item:hover {
    color: #f7db5f; }

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../Imgs/BannerImageLarge.jpg);
  height: 81vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .banner__heading {
    font-size: 100px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    margin-top: -60px;
    letter-spacing: 0.5px; }
  .banner__btn {
    margin-top: -40px; }

.options {
  background-color: #033845;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 25vw;
  padding-right: 25vw; }
  .options__list {
    list-style-type: none;
    display: flex; }
  .options__item {
    font-size: 17px;
    font-weight: 500;
    font-family: "archivo" sans-serif; }

.btn-primary {
  background-color: #f7db5f;
  border-radius: 3px;
  transition: all 0.2s;
  border: #033845;
  color: #033845;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px;
  cursor: pointer;
  font-size: 14px;
  padding: 12px 13px;
  line-height: 1.8rem; }
  .btn-primary:hover {
    background-color: #e99557; }
