body {
  margin: 0;
  padding: 0;
  font-family: "Archivo", sans-serif;
  font-size: 62.5%; }

.header {
  min-height: 20vh;
  background-color: #02252e; }
  .header__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .header__logo-image {
    width: 177px;
    margin-top: 40px;
    margin-left: 40px; }
  .header__top-right {
    margin-top: 40px;
    margin-right: 40px; }
  .header__phone-number {
    color: #f7db5f;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.89rem;
    cursor: pointer;
    margin-right: 25px; }
    .header__phone-number:hover {
      border-bottom: 1px solid #f7db5f; }

.nav__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.nav__item {
  list-style-type: none;
  color: white;
  font-size: 15px;
  font-weight: 700;
  line-height: 20.25px;
  padding: 10px 17px;
  cursor: pointer;
  transition: all 0.2s; }
  .nav__item:hover {
    color: #f7db5f; }

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../Imgs/BannerImageLarge.jpg);
  min-height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5vw; }
  .banner__heading {
    font-size: 80px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    margin-top: -60px;
    letter-spacing: 0.5px; }
    @media (max-width: 1025px) {
      .banner__heading {
        font-size: 70px; } }
    @media (max-width: 801px) {
      .banner__heading {
        font-size: 50px; } }
    @media (max-width: 480px) {
      .banner__heading {
        font-size: 30px; } }
  .banner__btn {
    margin-top: -40px; }

.cards {
  background-color: #02252e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px; }

.options {
  background-color: #02252e;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 25vw;
  padding-right: 25vw;
  padding-top: 15px;
  padding-bottom: 100px; }
  .options__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    border-bottom: 1px solid #b9c0c0;
    padding-bottom: 20px; }
  .options__item {
    font-size: 17px;
    font-weight: 500;
    font-family: "Archivo" sans-serif;
    margin: 0 16px 2px 16px;
    cursor: pointer;
    transition: all 0.2s; }
    .options__item:hover {
      color: #f7db5f; }
    .options__item:first-child {
      border-bottom: 2px solid #f7db5f; }
  .options__heading {
    font-size: 48px;
    font-weight: 400;
    margin-top: 30px;
    text-transform: uppercase;
    font-family: "Oswald" sans-serif;
    letter-spacing: 0.5px;
    color: #ccc; }
  .options__paragraph {
    font-size: 19px;
    line-height: 1.5;
    margin-bottom: 30px;
    font-weight: 300;
    font-family: "Archivo" sans-serif;
    color: #ccc; }

.gallery {
  background-image: url("../../Imgs/RaftGallMedium.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 40%;
  background-position-x: 59%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .gallery__button {
    background-color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 900;
    padding: 22px 40px 22px 22px;
    text-transform: uppercase;
    color: #02252e;
    text-align: center;
    line-height: 18px;
    border-radius: 3px;
    cursor: pointer; }

.fa-arrow-right {
  padding-left: 10px; }

.testimonials {
  background-color: #02252e;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .testimonials__container {
    height: 60vh;
    width: 70vw;
    background-color: #257d89;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .testimonials__icon {
    color: white;
    font-size: 55px;
    margin-top: 40px;
    margin-bottom: 32px; }
  .testimonials__star {
    color: #f7db5f;
    font-size: 20px;
    margin-bottom: 40px; }
  .testimonials__para {
    color: #fff;
    font-size: 22px;
    letter-spacing: 0.2px;
    line-height: 1.3;
    font-weight: 200;
    font-family: "Archivo" sans-serif;
    margin: 0 200px; }
  .testimonials__author {
    font-weight: 700;
    color: #fff;
    font-size: 14px;
    margin-top: 59px;
    font-family: "Archivo" sans-serif; }

.touch {
  background-color: #033845;
  color: #ebebeb;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .touch__header {
    font-size: 48px;
    text-transform: uppercase;
    font-family: "Oswald" sans-serif;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
    color: #ebebeb;
    font-weight: 400; }
  .touch__para {
    columns: #ccc;
    font-size: 19px;
    font-family: "Archivo" sans-serif;
    line-height: 1.35;
    margin-bottom: 20px; }
  .touch__form {
    line-height: 16px;
    font-size: 16px;
    color: #ccc;
    vertical-align: middle;
    font-weight: 400;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .touch__input {
    height: 42px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: #ccc;
    width: 420px;
    letter-spacing: 1px;
    font-size: 16px; }
  .touch__btn {
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .touch__btn:hover, .touch__btn:active {
      border: none; }

.footer {
  background-color: #ebebeb;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px 10vw; }
  .footer__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 50vw; }
  .footer__item {
    color: #033845;
    list-style-type: none;
    font-size: 15px;
    padding: 18px 18px;
    text-transform: capitalize;
    vertical-align: middle;
    cursor: pointer;
    font-weight: 700; }
    .footer__item:hover, .footer__item:active {
      color: #e99557; }
  .footer__icon {
    font-size: 22px;
    margin: 0 15px;
    cursor: pointer; }

.facebook {
  color: #3b5998; }

.twitter {
  color: #00acee; }

.youtube {
  color: #c4302b; }

.yelp {
  color: #c41200; }

.btn-primary {
  background-color: #f7db5f;
  border-radius: 3px;
  border: #02252e;
  color: #02252e;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px;
  cursor: pointer;
  font-size: 14px;
  padding: 12px 13px;
  line-height: 1.8rem;
  transition: all 0.2s; }
  .btn-primary:hover {
    background-color: #e99557; }

.card {
  display: grid;
  margin-left: 10vw;
  margin-right: 10vw;
  background-color: white;
  display: flex;
  margin-bottom: 100px;
  background-color: #ebebeb; }
  .card__image {
    width: 350px; }
  .card__right {
    display: flex;
    flex-direction: column; }
  .card__top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #b9c0c0; }
  .card__title {
    font-size: 32px;
    color: #02252e;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding-left: 10px; }
  .card__price-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-left: 1px solid #b9c0c0;
    margin: 0 10px; }
  .card__price {
    font-size: 34px;
    columns: #02252e;
    font-family: "Oswald";
    font-weight: 700;
    margin-left: 10px; }
  .card__per {
    font-size: 14px;
    font-family: "Oswald";
    font-weight: 700;
    line-height: 1;
    margin-left: 3px; }
  .card__para {
    font-size: 16px;
    letter-spacing: 0.2px;
    color: #02252e;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 34px; }
  .card__detail {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-family: "Archivo";
    font-size: 16px;
    color: #ce4a3c;
    border-top: 1px solid #b9c0c0;
    cursor: pointer; }
  .card__book {
    background-color: #ce4a3c;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    font-weight: 700;
    font-family: "Archivo";
    cursor: pointer; }
