.btn-primary {
	background-color: $yellow;
	border-radius: 3px;
	border: $dark-green;
	color: $dark-green;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.5px;
	cursor: pointer;
	font-size: 14px;
	padding: 12px 13px;
	line-height: 1.8rem;
	transition: all 0.2s;
	&:hover {
		background-color: $orange;
	}
}
