.card {
	display: grid;
	width: 80%;
	background-color: white;
	display: flex;
	margin-bottom: 100px;
	background-color: $dark-white;
	overflow: hidden;

	@include tabletLand {
		width: 100%;
	}

	&__image {
		max-width: 350px;
		object-fit: cover;

		@include big {
			max-width: 250px;
		}

		@include tabletPort {
			display: none;
		}
	}

	&__right {
		display: flex;
		flex-direction: column;
	}

	&__top {
		display: flex;
		flex-direction: row;
		align-items: center;
		border-bottom: 1px solid $border-color;
	}

	&__title {
		font-size: 32px;
		color: $dark-green;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		padding-left: 10px;
	}

	&__price-div {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		border-left: 1px solid $border-color;
		margin: 0 10px;
	}

	&__price {
		font-size: 34px;
		color: $dark-green;
		font-family: "Oswald";
		font-weight: 700;
		margin-left: 10px;
	}

	&__per {
		font-size: 14px;
		font-family: "Oswald";
		font-weight: 700;
		line-height: 1;
		margin-left: 3px;
	}

	&__para {
		font-size: 16px;
		letter-spacing: 0.2px;
		color: $dark-green;
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 34px;
	}

	&__detail {
		min-height: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 700;
		font-family: "Archivo";
		font-size: 16px;
		color: $red;
		border-top: 1px solid $border-color;
		cursor: pointer;
		object-fit: contain;
	}

	&__book {
		background-color: $red;
		min-height: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		font-size: 16px;
		font-weight: 700;
		font-family: "Archivo";
		cursor: pointer;
		object-fit: contain;
		transition: all 0.2s;

		&:hover,
		&:active {
			background-color: $red-dark;
		}
	}
}
