.card {
	display: grid;
	// max-width: 960px;
	margin-left: 10vw;
	margin-right: 10vw;
	background-color: white;
	display: flex;
	margin-bottom: 100px;
	background-color: $dark-white;

	&__image {
		// height: 
		width: 350px;
	}

	&__right {
		display: flex;
		flex-direction: column;
	}

	&__top {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		border-bottom: 1px solid $border-color;

	}

	&__title {
		font-size: 32px;
		color: $dark-green;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		padding-left: 10px;
	}

	&__price-div {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		border-left: 1px solid $border-color;
		margin: 0 10px;
		
	}

	&__price {
		font-size: 34px;
		columns: $dark-green;
		font-family: 'Oswald';
		font-weight: 700;
		margin-left: 10px;
	}

	&__per {
		font-size: 14px;
		font-family: 'Oswald';
		font-weight: 700;
		line-height: 1;
		margin-left: 3px;
	}

	&__para {
		font-size: 16px;
		letter-spacing: .2px;
		color: $dark-green;
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding:  0 34px;
	}

	&__detail {
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 700;
		font-family: 'Archivo';
		font-size: 16px;
		color: $red;
		border-top: 1px solid $border-color;
	}

	&__book {
		background-color: $red;
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		font-size: 16px;
		font-weight: 700;
		font-family: 'Archivo';
		
	}


}
