.banner {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url(../../Imgs/BannerImageLarge.jpg);
	min-height: 80vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 30% center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 5vw;

	&__heading {
		font-size: 80px;
		text-align: center;
		color: white;
		text-transform: uppercase;
		font-family: "Oswald", sans-serif;
		margin-top: -60px;
		letter-spacing: 0.5px;

		@include big {
			font-size: 70px;
		}

		@include tabletLand {
			font-size: 50px;
		}

		@include phoneLand {
			font-size: 30px;
		}
	}

	&__btn {
		margin-top: -40px;
	}
}
