.header {
	min-height: 20vh;
	background-color: $dark-green;

	// @include tabletLand {
	// 	background-color: $dark-white;
	// }

	&__top {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 4px;
	}

	&__burger {
		display: none !important;
		margin-top: 30px !important;

		@include big {
			display: block !important;
		}
	}

	&__logo-image {
		width: 177px;
		margin-top: 40px;
		margin-left: 40px;
	}

	&__top-right {
		margin-top: 40px;
		margin-right: 40px;
	}

	&__phone-number {
		color: $yellow;
		font-size: 14px;
		font-weight: 700;
		line-height: 1.89rem;
		cursor: pointer;
		margin-right: 25px;

		&:hover {
			border-bottom: 1px solid $yellow;
		}

		@include tabletPort {
			display: none;
		}
	}

	&__button {
		@include tabletLand {
			display: none;
		}
	}

	&__icon {
		display: none;
		color: $yellow;

		@include tabletPort {
			display: contents;
		}
	}
}
