.nav {
	&__list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 70vw;
		padding-bottom: 10px;
	}

	&__item {
		list-style-type: none;
		color: white;
		font-size: 15px;
		font-weight: 700;
		line-height: 20.25px;
		padding: 10px 17px;
		cursor: pointer;
		transition: all 0.2s;

		@include big {
			display: none;
		}

		&:hover {
			color: $yellow;
		}
	}
}
