.nav {
	&__list {
		display: flex;
		flex-direction: row;
	}

	&__item {
		list-style-type: none;
		color: white;
		font-size: 15px;
		font-weight: 700;
		line-height: 20.25px;
		overflow-wrap: break-word;
		padding: 10px 17px;
		cursor: pointer;
		transition: all 0.2s;

		&:hover {
			color: $yellow;
		}
	}
}
