.options {
	background-color: $dark-green;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 25vw;
	padding-right: 25vw;

	&__list {
		list-style-type: none;
		display: flex;
	}

	&__item {
		font-size: 17px;
		font-weight: 500;
		font-family: "archivo" sans-serif;
	}
}
