.touch {
	background-color: rgb(3, 56, 69);
	color: $dark-white;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__header {
		font-size: 48px;
		text-transform: uppercase;
		font-family: "Oswald" sans-serif;
		letter-spacing: 0.5px;
		margin-bottom: 20px;
		color: $dark-white;
		font-weight: 400;

		@include tabletLand {
			font-size: 38px;
		}
	}

	&__para {
		columns: #ccc;
		font-size: 19px;
		font-family: "Archivo" sans-serif;
		line-height: 1.35;
		margin-bottom: 20px;

		@include tabletPort {
			font-size: 16px;
		}
	}

	&__form {
		line-height: 16px;
		font-size: 16px;
		color: #ccc;
		vertical-align: middle;
		font-weight: 400;
		margin-bottom: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__input {
		height: 42px;
		background-color: rgba(255, 255, 255, 0.1);
		border: none;
		color: #ccc;
		width: 420px;
		letter-spacing: 1px;
		font-size: 16px;

		@include tabletPort {
			width: 300px;
		}
	}

	&__btn {
		height: 42px;
		display: flex;
		justify-content: center;
		align-items: center;

		&:hover,
		&:active {
			border: none;
		}
	}
}
